/*** SETTINGS ***/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300&display=swap');
/*
Colors :
  pink gold:
    color: rgb(184, 107, 119);
  pink gold 2:
    color: #CB7683;
*/

/*** GENERAL***/


body, html {
  width: 100%;
  height: 100%;
}


a {
  text-decoration: none;
}


body {
  background-color: #1D1D1D;
	overflow: hidden;
  margin-left: 0px;
  scrollbar-face-color: grey;
  scrollbar-track-color: #0D0D0D;
  padding: 0px;
}

::selection{
  color: black;
  background-color: #fff;
}

p, a {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

a {
	margin: 0px;
	padding: 0px;
}

/*/ END OF GENERAL /*/



/*** FRAME 1 ***/
header {

  width: 100%;
  height: auto;
  position: absolute;
  padding: 0px;
	margin: 0px;
}

#logo {
  position: relative;
  height: 15vh;
  width: auto;
}


#menu {
	width: 100%;
	list-style-type: none;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background-color: #1D1D1D;
	padding: 0px;
	margin: 0px;
}


#menu li {
	padding : 2px;
	margin: 2px;
	font-size: 3vh;
}

#menu li :hover {
	color : #CB7683;
}


#frame-1 {
  background-image: url('../images/bkgrd.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#name-job-container {
  margin-left: 5%;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

h2 {
  font-size: 58px;
  line-height: 60px;
  font-weight: 300;
}

h4 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 100;

  color: #CB7683;
}
/* END OF FRAME 1 */



/*** FRAME 2 ***/

/* END OF FRAME 2 */
