/*** SETTINGS ***/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300&display=swap');
/*
Colors :
  pink gold:
    color: rgb(184, 107, 119);
  pink gold 2:
    color: #CB7683;
*/

/*** GENERAL***/


body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}


body {
  background-color: #1D1D1D;
	overflow-x: hidden;
  scrollbar-face-color: grey;
  scrollbar-track-color: #0D0D0D;
  padding: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

::selection{
  color: black;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: .6em;
  height: .2em;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-track {
  background: #0D0D0D;
}

p, a {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.5vw;
}

a {
	margin: 0px;
	padding: 0px;
}

/*/ END OF GENERAL /*/



/*** FRAME 1 ***/
header {

  width: 100%;
  height: auto;
  position: absolute;
  padding: 0px;
	margin: 0px;
}

#logo {
  position: relative;
  height: auto;
  width: 7vw;
}


#menu {
	width: 100%;
	list-style-type: none;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background-color: #1D1D1D;
	padding: 0px;
	margin: 0px;
}

#main{
  height: auto;
  min-height: 100vh;
  width: 100vw;
}

#menu li {
	padding : 2px;
	margin: 2px;
	font-size: 3vh;
}

#menu li :hover {
	color : #CB7683;
}


#frame-1 {
  background-image: url('../images/bkgrd.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

#name-job-container {
  margin-left: 5%;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

h2 {
  font-size: 58px;
  line-height: 60px;
  font-weight: 300;
}

h4 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 100;

  color: #CB7683;
}
/* END OF FRAME 1 */



/*** FRAME 2 ***/
#projets {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  padding-top: 10vh;
  min-height:100vh ;
  height: auto;
  width: 100vw;
  background-color: #1D1D1D;
}

.projets_chld {
  display: flex;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20vw;
  height: 30vh;
  margin: 3vw;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.popup {
  display: block;
  background-color: #333;
  opacity: 0.9;
  position: fixed;
  top: 15vh;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.popupContent {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


.popupContent div  {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  margin: 5px;
  background-color: #c7c7ab;
  border-radius: 1vw;
  width: 70vw;
  height: 60vh;
  white-space: normal;
}

.nthkYet {
  background-image: none;
  background-color: rgb(20,20,20);
}

.projets_chld:hover {
  opacity: 0.3;
}

/* END OF FRAME 2 */


/* FRAME ABOUT ME*/

#aboutme{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 20vh;
  background-color: #1D1D1D;
}

/* END FRAME 3*/

/* FRAME Exp*/

#expForm{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  margin-top: 0;
  padding-top: 20vh;
  background-color: #1D1D1D;
}

/* END FRAME 4*/