/*** SETTINGS ***/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300&display=swap');
/*
Colors :
  pink gold:
    color: rgb(184, 107, 119);
  pink gold 2:
    color: #CB7683;
*/

/*** GENERAL***/


body, html {
  width: 100%;
  height: 100%;
}


a {
  text-decoration: none;
}


body {
  background-color: #1D1D1D;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  scrollbar-face-color: grey;
  scrollbar-track-color: #0D0D0D;
  padding: 0px;
  margin-left: 0px;
  }

::selection{
  color: black;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: .6em;
  height: .2em;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-track {
  background: #0D0D0D;
}

p, a {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

a {
	margin: 0px;
	padding: 0px;
}

/*/ END OF GENERAL /*/


/*** FRAME 1 ***/
header {

  width: 100%;
  height: auto;
  position: absolute;
  padding: 0px;
	margin: 0px;
}

#logo {
  position: relative;
  height: 15vh;
  width: auto;
}


#menu {
	width: 100%;
	list-style-type: none;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	background-color: #1D1D1D;
	padding: 0px;
	margin: 0px;
}


#menu li {
	padding : 2px;
	margin: 2px;
	font-size: 3vh;
}

#menu li :hover {
	color : #CB7683;
}

#projets {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10vh;;
}

.projets_chld {
  display: flex;
  background-image: url('../images/camil_logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20vw;
  height: 30vh;
  margin: 3vw;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.popup {
  display: block;
  background-color: #333;
  opacity: 0.9;
  margin-top: 15vh;
  position: absolute;
  width: 100vw;
  height: 200vh;
}
.popupContent {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 15vh;
  position: absolute;
  width: 100vw;
  height: 200vh;
}


.popupContent div  {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  margin: 5px;
  background-color: #c7c7ab;
  border-radius: 1vw;
  width: 50vw;
  height: 50vh;
  white-space: normal;
}

.nthkYet {
  background-image: none;
  background-color: rgb(20,20,20);
}

.projets_chld:hover {
  opacity: 0.3;
}
