@import url(https://fonts.googleapis.com/css?family=PT+Sans);

$font-family: 'PT Sans', sans-serif;

$li-padding: 5px;

$background-color: #1a1a1a;
$progressbar-title-color: #fff;

$red: #c0392b;
$blue: #1199ff;
$purple: #9b59b6;
$orange: #ffa500;
$green: #27ae60;

$animation-delay: .7s;

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,body{
  background: $background-color;
  width: 100%;
  height: 100%;
  font-family: $font-family;
}

.skills-bar-container{
  position: static;
  width: 40%;
  min-width: 300px;
  list-style:none;
  
  li{
    position: relative;
    width: 100%;
    padding: $li-padding;
    margin-bottom: 10px;
    
    .progressbar-title{
      color: $progressbar-title-color;
      
      h3{
        display: inline-block;
      }
      .percent{
        position: absolute;
        right: $li-padding;
      }
    }
    
    .bar-container{
      background: #555;
      position: relative;
      width: 100%;
      height: 5px;
      margin-top: 5px;
      display: block;
      @include border-radius(5px);
      
      .progressbar{
        position:absolute;
        width:0%;
        height: 100%;
        @include border-radius(5px);

        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      #progress-html{
        -webkit-animation-name: progress-html;
        animation-name: progress-html;
        -webkit-animation-delay: $animation-delay;
        animation-delay: $animation-delay;
      }

      #progress-cpp{
        -webkit-animation-name: progress-cpp;
        animation-name: progress-cpp;
        -webkit-animation-delay: $animation-delay*2;
        animation-delay: $animation-delay*2;
      }

      #progress-javascript{
        -webkit-animation-name: progress-javascript;
        animation-name: progress-javascript;
        -webkit-animation-delay:$animation-delay*3;
        animation-delay: $animation-delay*3;
      }

      #progress-php{
        -webkit-animation-name: progress-php;
        animation-name: progress-php;
        -webkit-animation-delay: $animation-delay*4;
        animation-delay: $animation-delay*4;
      }

      #progress-sql{
        -webkit-animation-name: progress-sql;
        animation-name: progress-sql;
        -webkit-animation-delay: $animation-delay*5;
        animation-delay: $animation-delay*5;
      }
      #progress-mysql{
        -webkit-animation-name: progress-mysql;
        animation-name: progress-mysql;
        -webkit-animation-delay: $animation-delay*5;
        animation-delay: $animation-delay*5;
      }
      #progress-bash{
        -webkit-animation-name: progress-bash;
        animation-name: progress-bash;
        -webkit-animation-delay: $animation-delay*5;
        animation-delay: $animation-delay*5;
      }
      #progress-py{
        -webkit-animation-name: progress-py;
        animation-name: progress-py;
        -webkit-animation-delay: $animation-delay*5;
        animation-delay: $animation-delay*5;
      }
      #progress-adm{
        -webkit-animation-name: progress-adm;
        animation-name: progress-adm;
        -webkit-animation-delay: $animation-delay*5;
        animation-delay: $animation-delay*5;
      }
      #progress-c{
        -webkit-animation-name: progress-adm;
        animation-name: progress-adm;
        -webkit-animation-delay: $animation-delay*5;
        animation-delay: $animation-delay*5;
      }
    }
  }
}

.progressred{background-color:$red;}
.progressblue{background-color:$blue;}
.progresspurple{background-color:$purple;}
.progressyellow{background-color:$orange;}
.progressgreen{background-color:$green;}
.progresspink{background-color: #CB7683;}
.progresslblue{background-color:#2fcea5;}
.progressagreen{background-color:#8fb800;}
.progressorange{background-color:#F68657;}
.progressgold{background-color:rgb(148, 141, 38);}

@-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 95%;}}
@-webkit-keyframes progress-cpp{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-php{0%{width: 0%;} 100%{ width: 60%;}}
@-webkit-keyframes progress-sql{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-mysql{0%{width: 0%;} 100%{ width: 80%;}}
@-webkit-keyframes progress-bash{0%{width: 0%;} 100%{ width: 70%;}}
@-webkit-keyframes progress-py{0%{width: 0%;} 100%{ width: 75%;}}
@-webkit-keyframes progress-adm{0%{width: 0%;} 100%{ width:85%;}}
@-webkit-keyframes progress-c{0%{width: 0%;} 100%{ width:80%;}}


@-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 95%;}}
@-moz-keyframes progress-cpp{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-php{0%{width: 0%;} 100%{ width: 60%;}}
@-moz-keyframes progress-sql{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-mysql{0%{width: 0%;} 100%{ width: 80%;}}
@-moz-keyframes progress-bash{0%{width: 0%;} 100%{ width: 70%;}}
@-moz-keyframes progress-py{0%{width: 0%;} 100%{ width: 75%;}}
@-moz-keyframes progress-adm{0%{width: 0%;} 100%{ width: 85%;}}
@-moz-keyframes progress-c{0%{width: 0%;} 100%{ width: 80%;}}

@keyframes progress-html{0%{width: 0%;} 100%{ width: 95%;}}
@keyframes progress-cpp{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-javascript{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-php{0%{width: 0%;} 100%{ width: 60%;}}
@keyframes progress-sql{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-mysql{0%{width: 0%;} 100%{ width: 80%;}}
@keyframes progress-bash{0%{width: 0%;} 100%{ width: 70%;}}
@keyframes progress-py{0%{width: 0%;} 100%{ width: 75%;}}
@keyframes progress-adm{0%{width: 0%;} 100%{ width: 85%;}}
@keyframes progress-c{0%{width: 0%;} 100%{ width: 80%;}}